@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background-accent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: hsl(225, 100%, 94%, 0.5);
}

.body {
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-weight: 500;
  font-family: "Red Hat Display", sans-serif;
}

.container {
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px auto;
  background-color: white;
  border-radius: 15px;
}

.order-summary {
  font-weight: 900;
  font-size: 26px;
  margin-top: 40px;
  color: hsl(223, 47%, 23%);
}

.desc {
  margin: 20px 50px 0px 50px;
  line-height: 25px;
  color: hsl(224, 23%, 55%);
}

.sub-container {
  display: flex;
  justify-content: center;
  background-color: hsl(225, 100%, 98%);
  padding: 20px;
  margin: 20px 50px 40px 50px;
  overflow: visible;
  border-radius: 10px;
}

.annual-plan-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 20px;
  margin-right: 70px;
}

.annual-plan {
  font-weight: 800;
  color: hsl(223, 47%, 23%);
}

.price {
  align-self: flex-start;
  color: hsl(224, 23%, 55%);
}

.change:link,
.change:visited {
  align-self: center;
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}

.payment-btn {
  margin: 0px 50px 30px 50px;
  padding: 15px;
  border-radius: 10px;
  background-color: hsl(245, 75%, 52%);
  color: white;
  overflow: visible;
  box-shadow: 0px 20px 25px -10px hsl(224, 23%, 55%);
  text-decoration: none;
}

.cancel-link {
  color: hsl(224, 23%, 55%);
  font-weight: 600;
  padding-bottom: 30px;
  text-decoration: none;
}

.img {
  border-radius: 15px 15px 0 0;
}
